<ion-header no-border>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button style="color: white" type="light"></ion-menu-button>
    </ion-buttons>
    <ion-title style="text-transform: uppercase; margin: 0; text-align: center;">
      Cuenta de Usuario
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="column">
  <div class="center">
    <div class="card">
      <div class="detail-container">
        <h3>Nombre</h3>
        <p>{{ user.FirstName }}</p>
      </div>
      <div class="detail-container">
        <h3>Apellido</h3>
        <p>{{ user.LastName }}</p>
      </div>
      <div class="detail-container">
        <h3>Email</h3>
        <p>{{ user.Email }}</p>
      </div>
    </div>
  </div>

  <div class="row">
    <button
      class="btn-primary delete"
      type="button"
      (click)="handleDeleteAccount()"
    >
      Eliminar Cuenta
    </button>
  </div>

  <div class="row">
    <button
      [routerDirection]="'root'"
      routerLink="/home"
      class="btn-primary secondary"
    >
      Cancelar
    </button>
  </div>
  <div class="modal" *ngIf="showModalDeleteAccount">
    <div class="modal-container">
      <h4>¿Está seguro de eliminar su cuenta permanentemente?</h4>
    </div>
    <div class="row" style="margin-top: 0;">
      <button (click)="confirmDeleteAccount()" class="btn-primary delete" style="margin-bottom: 20px;" >
        Eliminar Cuenta
      </button>
      <button (click)="handleCancelRemoveAccount()" class="btn-primary secondary">
        Cancelar
      </button>
    </div>
  </div>
</ion-content>
