<ion-header no-border>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button style="color: white" type="light"></ion-menu-button>
    </ion-buttons>
    <ion-title style="text-transform: uppercase; margin: 0; text-align: center;">
     Cambiar clave de Sms
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="column">
  <div class="center">
    <div class="top center">
      <button class="btn-selector" [routerLink]="['/selector']">
        <img [src]="'../../assets/central.svg'" />
        <p>{{ centralSelected }}</p>
      </button>
    </div>
  </div>

  <div class="center">
    <div class="card">
      <div class="input-container">
        <label for="passwordSMS">Clave SMS</label>
        <input
          ngModel
          type="number"
          name="passwordSMS"
          id="passwordSMS"
          [ngClass]="{'input-ok': passwordSMSOk}"
          [(ngModel)]="passwordSMS"
          (ngModelChange)="passwordSMS = changePasswordSMS($event)"
          required
        />
      </div>
      <div class="input-container">
        <label for="secondPasswordSMS">Repita clave de SMS</label>
        <input
          ngModel
          type="number"
          name="secondPasswordSMS"
          id="secondPasswordSMS"
          [ngClass]="{'input-ok': secondPasswordSMSOk}"
          [(ngModel)]="secondPasswordSMS"
          (ngModelChange)="secondPasswordSMS = changeSecondPasswordSMSOk($event)"
          required
        />
      </div>
    </div>
  </div>

  <div class="modal" *ngIf="showModal">
    <div class="modal-container">
      <h4>¿La clave de sms ha sido cambiada correctamente en la central?</h4>
    </div>
    <div class="row" style="margin-top: 0">
      <button
        class="btn-primary"
        style="margin-bottom: 20px; padding: 16px 50px"
        (click)="changePasswordSMSOk()"
      >
        SI
      </button>
      <button
        (click)="showModal = false"
        class="btn-primary secondary"
        style="padding: 16px 50px"
      >
        NO
      </button>
    </div>
  </div>

  <div class="row">
    <button (click)="sendSMS();" class="btn-primary">Enviar</button>
    <button
      [routerDirection]="'root'"
      routerLink="/home"
      class="btn-primary secondary"
    >
      Cancelar
    </button>
  </div>
</ion-content>
