<ion-content>
  <ion-grid style="height: 100%">
    <ion-row
      class="ion-align-items-center ion-justify-content-center"
      style="height: 100%; width: 100%"
    >
      <ion-card class="landing-card">
        <div class="logo-top">
          <img src="./assets/eagle.png" />
        </div>
        <ion-card-content>
          <div class="center">
            <h4>RECUPERAR CONTRASEÑA</h4>
          </div>
          <div class="input-container">
            <label class="label" for="email">Email</label>
            <input
              ngModel
              [(ngModel)]="email"
              type="email"
              name="email"
              class="input"
              required
            />
          </div>
          <small class="center">
            Por favor, ingrese el email que utiliza para iniciar sesión para
            recuperar su contraseña.
          </small>
          <div class="buttons-container">
            <button
              type="submit"
              class="btn-submit"
              (click)="recoverPassword();"
            >
              ENVIAR
            </button>
          </div>
          <div class="buttons-container">
            <button class="btn-login" [routerLink]="['/login']">
              CANCELAR
            </button>
          </div>
        </ion-card-content>
      </ion-card>
    </ion-row>
  </ion-grid>
</ion-content>
